!!!5
html
  head
    title #{title} - Disaster Recovery Detailed Report
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      
    footer
      p Running on node with Express, Jade and Stylus
