html
head
    title RDATA Stats
    link(rel='stylesheet', href='/stylesheets/bqhome.css')
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')   
    script(type='text/javascript', src='/js/jquery.blockUI.js')  
  body#page3
    ul#tabs
      li#tab1
        a(href='/bqhome') Import Pending Files
      li#tab2
        a(href='/impff') Import Failed Files
      li#tab3
        a(href='/rmqhcs') RabbitMQ Health Checks Stats
    p
      | Under Progress.....


