!!!5
html
  head

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 This is a restricted page
      
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
